mixin button(tag, text, href)
  if tag === 'a'
    a.button(href=href)&attributes(attributes)= text
  if tag === 'button'
    button.button&attributes(attributes)= text

mixin svgIcon(name)
  svg&attributes(attributes)
    use(xlink:href=`./img/sprite.svg#${name}`)

mixin navigation(name)
  - const classes = ['nav__list', 'nav-list', name, 'reset-list']
    ul(class=classes)
      each item in menuItems
        li.nav-list__item
        if item.page === isPage
          a.nav-list__link.nav-list__link--active&attributes(attributes)= item.name
        else
          a.nav-list__link(href= item.url)&attributes(attributes)= item.name


mixin title(name, text)
  - const classes = ['title', name]
  h2(class=classes)= text

mixin description(name, text)
  - const classes = ['description', name]
  p(class=classes)= text
